{{ define "index" }}
<!--  -->
{{ template "layoutheader" . }}
<div class="text-center">
  <h3 class="display-4">Welcome to TicTacToe</h3>

  <button class="btn btn-primary" hx-post="/newgame" hx-target=".gamelist">
    New Game
  </button>
  <div
    class="gamelist"
    hx-ext="sse"
    sse-connect="/livegamelist"
    sse-swap="game_update"
  >
    {{ template "game-list" . }}
  </div>
</div>
{{ template "layoutfooter" . }}
<!--  -->
{{ end }}

<!--  -->

{{ define "game-list" }}
<!--  -->
{{ range .Games }}
<!--  -->
{{ template "game-card" . }}
<!--  -->
{{ end }}
<!--  -->
{{ end }}

<!--  -->

{{ define "game-card" }}
<div class="card">
  <a hx-push-url="true" href="/games/{{.Id}}"> {{ .Id }} </a>
  <p>{{ .Info }}</p>
</div>
{{ end }}
