{{ define "play" }}
<!--  -->
{{ template "layoutheader" . }}

<p>You are: {{ .DisplayName }}</p>

<div id="game-status">
  {{ block "game-status" .Game }}
  <p hx-trigger="every 2s" hx-get="/gamestatus?id={{.Id}}" id="gameStatus">{{ .PlayStatus }}</p>
  <!-- <p hx-trigger="click" hx-swap="outerHTML" hx-get="/gamestatus?id={{.Id}}" id="gameStatus">{{ .PlayStatus }}</p> -->
  {{ end }}
</div>

{{ template "board" .Game }}
<!--  -->
{{ template "layoutfooter" . }}
<!--  -->
{{ end }}

<!--  -->

{{ define "board" }}
<!-- <div class="tic-tac-toe-board"> -->
<div hx-get="/gameboard?id={{.Id}}" hx-swap="outerHTML" hx-trigger="every 2s" class="tic-tac-toe-board">
  {{ range $cell := Cells .}}
  <!--  -->
  {{ block "cell" . }}
  <div
    class="tic-tac-toe-cell"
    data-cell
    hx-post="/move?i={{ .Index }}&id={{ .GameId }}"
    hx-swap="outerHTML"
  >
    {{ .Symbol }}
  </div>
  {{ end }}
  <!--  -->
  {{ end }}
</div>
{{ end }}
