{{ define "play" }}
<!--  -->
{{ template "layoutheader" . }}
<style>
  main {
    margin-left: 250px;
  }
</style>

<div hx-ext="sse" sse-connect="/liveboard/{{.Game.Id}}" sse-swap="first-join">
  {{block "play-partial" .}}
  <!--  -->
  {{ block "client-list" . }}
  <aside
    id="client-list"
    class="sidebar"
    sse-swap="clients"
    hx-swap="outerHTML"
  >
    <div>
      <h3>Players</h3>
      <div class="player-info">
        <h5
          class="{{if and (.Game.Started) (eq .Game.CurrentPlayer.Name .Game.Player1.Name)}}fw-bold{{end}}"
        >
          Player 1 {{ if eq .Game.Player1Name .ClientId }} (You) {{end}}
        </h5>
        <p>Client Id: {{.Game.Player1Name}}</p>
      </div>
      <div class="player-info">
        {{if .Game.Player2}}
        <h5
          class="{{if and (.Game.CurrentPlayer) (eq .Game.CurrentPlayer.Name .Game.Player2.Name)}}fw-bold{{end}}"
        >
          Player 2 {{ if eq .Game.Player2Name .ClientId }} (You) {{end}}
        </h5>
        <p>Client Id: {{.Game.Player2Name}}</p>
        {{else}}
        <span>Waiting for player 2...</span>
        {{end}}
      </div>
    </div>
    <div>
      <h4>Spectators</h4>
      <ul class="list-group">
        {{ $clientId := .ClientId }}
        <!--  -->
        {{ range $spec := Spectators .Game }}
        <!--  -->
        {{ block "spectator" $spec }}
        <li
          id="spectator_{{ .Id }}"
          class="list-group-item spectator {{if .Connected}}connected{{end}}"
        >
          {{ .Name }}
          <span hx-trigger="load" hx-get="/is-this-me?id={{.Id}}"></span>
        </li>
        {{ end }}
        <!--  -->
        {{ end }}
      </ul>
    </div>
  </aside>
  {{ end }}
  <!--  -->
  {{ block "board" .Game }}
  <div id="board" class="tic-tac-toe-board" hx-swap="outerHTML">
    {{ range $cell := Cells .}}
    <!--  -->
    <div
      class="tic-tac-toe-cell"
      data-cell
      hx-post="/move?i={{ .Index }}&id={{ .GameId }}"
      hx-swap="none"
    >
      {{ block "cell" . }}
      <span
        class="drop-in"
        id="cell_{{.Index}}"
        sse-swap="cell_{{ .Index }}"
        hx-swap="outerHTML"
      >
        {{ .Symbol }}
      </span>
      {{ end }}
    </div>
    <!--  -->
    {{ end }}
    <!--  -->
    {{ end }}
  </div>
  {{if .Game.GameOver }}
  <!--  -->
  {{ block "history-controls" History .Game }}
  <div id="history-controls" class="btn-group d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-outline-secondary {{if ne .CanGoBack true}}disabled{{end}}"
      hx-get="/games/{{.Id}}/history/{{.BackOffset}}"
      hx-swap="outerHTML"
      hx-target="closest div"
    >
      Previous
    </button>
    <button
      type="button"
      class="btn btn-outline-primary {{if eq .AtCurrent true}}disabled{{end}}"
      hx-get="/games/{{.Id}}/history/0"
      hx-swap="outerHTML"
      hx-target="closest div"
    >
      Current
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary {{if ne .CanGoForward true}}disabled{{end}}"
      hx-get="/games/{{.Id}}/history/{{.ForwardOffset}}"
      hx-swap="outerHTML"
      hx-target="closest div"
    >
      Next
    </button>
  </div>
  {{ end }}
  <!--  -->
  {{end}}
</div>
{{ end }}
<!--  -->
{{ template "layoutfooter" . }}
<!--  -->
{{ end }}

<!--  -->

{{ define "spectator-oob" }}
<li
  hx-swap-oob="true"
  id="spectator_{{ .Id }}"
  class="list-group-item spectator {{if .Connected}}connected{{end}}"
>
  {{ .Name }}
  <span hx-trigger="load" hx-get="/is-this-me?id={{.Id}}"></span>
</li>
{{ end }}

<!--  -->

{{ define "board-history" }}
<div
  id="board"
  hx-swap-oob="true"
  class="tic-tac-toe-board"
  hx-swap="outerHTML"
>
  {{ range $cell := CellsHistory .Board .Offset }}
  <!--  -->
  <div class="tic-tac-toe-cell" data-cell>{{ template "cell" . }}</div>
  <!--  -->
  {{ end }}
</div>
{{end}}
