{{ define "play" }}
<!--  -->
{{ template "layoutheader" . }}

<p>You are: {{ .DisplayName }}</p>

{{ block "game-status" .Game }}
<p id="gameStatus" hx-swap-oob="true">{{ .PlayStatus }}</p>
{{ end }} {{ template "live-board" .Game }}
<!--  -->
{{ template "layoutfooter" . }}
<!--  -->
{{ end }}

<!--  -->

{{ define "board" }}
<!-- <div class="tic-tac-toe-board"> -->
<div class="tic-tac-toe-board">
  {{ range $cell := Cells .}}
  <!--  -->
  {{ block "cell" . }}
  <div
    class="tic-tac-toe-cell"
    data-cell
    hx-post="/move?i={{ .Index }}&id={{ .GameId }}"
    hx-swap="outerHTML"
  >
    {{ .Symbol }}
  </div>
  {{ end }}
  <!--  -->
  {{ end }}
</div>
{{ end }}

<!--  -->

{{ define "live-board" }}
<div
  hx-ext="sse"
  sse-connect="/liveboard?id={{.Id}}"
  sse-swap="game_refresh_{{.Id}}"
  class="tic-tac-toe-board"
  sse-close="game_over"
>
  {{ range $cell := Cells .}}
  <!--  -->
  {{ template "cell" . }}
  <!--  -->
  {{ end }}
</div>
{{ end }}
